In [75]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from collections import Counter

## Knn of sklearn

In [76]:
df = pd.read_csv("Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [77]:
df = df.iloc[:, 1:]
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [78]:
encoder = LabelEncoder()
df['Gender'] = encoder.fit_transform(df['Gender'])

In [79]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

In [80]:
X = df.iloc[:, 0:3].values
Y = df.iloc[:, -1].values

In [81]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [82]:
X

array([[ 1.02020406, -1.78179743, -1.49004624],
       [ 1.02020406, -0.25358736, -1.46068138],
       [-0.98019606, -1.11320552, -0.78528968],
       ...,
       [-0.98019606,  1.17910958, -1.46068138],
       [ 1.02020406, -0.15807423, -1.07893824],
       [-0.98019606,  1.08359645, -0.99084367]])

In [83]:
X_train,X_test,y_train,y_test = train_test_split(X, Y, test_size = 0.2, random_state= 10)

knn = KNeighborsClassifier(n_neighbors= 5 )

In [84]:
knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)

In [85]:
print(accuracy_score(y_pred, y_pred))

1.0

## Knn aapna wala

In [86]:
class Knn:
    
    def __init__(self, k):
        self.n_neighbors = k 
        self.X_train = None
        self.Y_train = None

    def fit(self, X_train, Y_train):
        self.X_train = X_train
        self.Y_train = Y_train

    def predict(self, X_test):

        y_pred = []

        for i in X_test:
            distances = []
            
            for j in self.X_train:
                distances.append(self.calculate_distances(i , j))
            n_neighbors = sorted(list(enumerate(distances)), key  = lambda X:X[1])[0:self.n_neighbors]
            label = self.majority_count(n_neighbors)
            y_pred.append(label)
        return np.array(y_pred)
                
    def calculate_distances(self, point_A, point_B):
        return np.linalg.norm(point_A - point_B)

    def majority_count(self,neighbors):
        votes = []

        for i in neighbors:
            votes.append(self.Y_train[i[0]])
        votes = Counter(votes)
        return votes.most_common()[0][0]

In [87]:
ourKnn = Knn(k = 5)
ourKnn.fit(X_train , y_train)
y_pred1 = ourKnn.predict(X_test)

In [88]:
print(accuracy_score(y_test, y_pred1))

0.9375